h3.QrcodePage-divider-10 {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.makeStyles-card-25 {
    width: 100%;
    border: 0;
    display: flex;
    position: relative;
    font-size: .875rem;
    min-width: 0;
    word-wrap: break-word;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    flex-direction: column;
    background-color: #0b0001cf;
}

span.QrcodePage-counterNum-422.QrcodePage-colorRed-419 {
    color: #e40313;
    font-size: 1rem;
    font-weight: 600;
}

.QrcodePage-qrcodeCard-14 {
    background: rgba(94, 2, 9, 0.29);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#logoRow {
    padding-bottom: 10px;
    align-items: center;
}

img#obbaLogo {
    max-width: 60px;
    height: auto;
}

img#ollaaLogo {
    max-width: 100px;
    height: auto;
}

.makeStyles-cardBody-29.QrcodePage-spinnerWrapper-15 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.QrcodePage-counterNum-22 {
    color: #ff5656;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Caveat', cursive;
}

div.makeStyles-cardBody-29.QrcodePage-spinnerWrapper-15 {
    display: flex;
    align-items: center;
    justify-content: center;
}

span.MuiButton-label {
    font-size: 12px;
    font-family: 'Caveat', cursive;
    font-weight: 600;
    letter-spacing: normal;
}

img#qrcodeImg {
    max-width: 200px;
    margin: 15px 0;
}

form.QrcodePage-form-7 {
    padding: 10px 0;
    position: relative;
}

.makeStyles-card-27.QrcodePage-qrcodeCard-14 {
    padding: 0;
    top: 25px;
}

h3.QrcodePage-divider-10.QrcodePage-colorWhite-20 {
    margin: 20px 0;
    font-weight: 400;
}

h3.qr-code-counter {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}

button.MuiButton-outlinedPrimary {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    width: 85%;
    border: 1px solid #e40313;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary:hover {
    background: #e40313;
    border: .5px solid #e40313;
}

div#dividerRow h3 {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Caveat', cursive;
}

div#queueRow {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

div#queueRow button {
    margin: 0 10px;
    width: fit-content;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    img#qrcodeImg {
        max-width: 150px;
    }

    h3.QrcodePage-divider-10 {
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }

    .QrcodePage-qrcodeCard-14 {
        padding: 5px;
    }

    .MuiButton-label {
        font-size: 0.8rem;
    }

    .QrcodePage-qrcodeCard-96 {
        padding: 0;
    }

    img#obbaLogo {
        max-width: 60px;
        height: auto;
    }

    img#ollaaLogo {
        max-width: 60px;
        height: auto;
    }
}


@media screen and (min-width: 1024px) {
    h3.QrcodePage-divider-10 {
        font-size: 1rem;
        margin: 20px 0;
    }

    span.MuiButton-label {
        font-size: 1.5rem;
        font-family: 'Caveat', cursive;
        font-weight: 600;
        letter-spacing: normal;
    }

    div#queueRow button {
        margin: 0 20px;
        width: fit-content;
    }

    div#dividerRow {
        padding-top: 10px;
    }
}