/* Body and Layout */
body {
    background: linear-gradient(rgba(1, 0, 6, 0.65),rgba(1, 0, 15, 0.72), rgba(0, 0, 6, 0.62)), url('../../../static/images/obba-dining.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.QrcodePage-qrcodeCard-14 {
    padding: 0;
}

.makeStyles-card-29 {
    margin-top: 10px;
}

h3.QrcodePage-divider-10 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
}

.Layout-root-1 {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

div#title {
    display: flex;
    flex-direction: column;
}

h3#headerInfo {
    font-size: 25px;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    text-align: center;
}

.QrcodePage-container-5 {
    padding-left: 0px;
    padding-right: 0px;
}

.MuiGrid-root.makeStyles-grid-27.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-10 {
    justify-content: center;
}


.makeStyles-card-28 {
    color: rgba(255, 255, 255, 0.87);
    width: 100%;
    border: 0;
    display: flex;
    position: relative;
    font-size: 20px;
    min-width: 0;
    word-wrap: break-word;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    flex-direction: column;
    background: linear-gradient(48deg, #06060670 50%, #3f070778 50%)
}

div#socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* ----------------- Logo Row */
#logoRow {
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

img#obbaLogo {
    max-width: 60px;
    height: auto;
}

img#ollaaLogo {
    max-width: 100px;
    height: auto;
}

h3.qr-code-counter {
    color: #fafafa;
    font-size: 14px;
}

/* ----------------- Take Queue Form */
p#phoneNo-helper-text, 
p#paxNo-helper-text {
    color: #fafafa; /* Red color for the error message text */
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
}

input::-webkit-input-placeholder {
    color: #ff7575;
}

input:-ms-input-placeholder {
    color: #ff7575;
}

input::-ms-input-placeholder {
    color: #ff7575;
}

input::placeholder {
    color: #ff7575;
}

form button {
    margin-top: 30px;
}

form input::-webkit-input-placeholder {
    color: #f58c8c;
}

form input:-ms-input-placeholder {
    color: #f58c8c;
}

form input::-ms-input-placeholder {
    color: #f58c8c;
}

form input::placeholder {
    color: #f58c8c;
}

input {
    padding: 10px auto;
}

label#paxNo-label,
label#phoneNo-label,
label#name-label {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: #ffb7a4;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1000;
}

input#name,
input#phoneNo,
input#paxNo {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    background: #eb2828d3;
    padding: 10px 0;
    color: #fafafa;
    margin: 8px auto;
}

.MuiInputBase-root {
    font-weight: 600;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary {
    border: 1px solid #ff524480;
    margin: 0 10px;
    color: #fafafa;
    background-color: rgba(198, 45, 34, 0.996);
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary:hover {
    background-color: #ff5244;
    box-shadow: 0 0 5px #ff5244;
}

.MuiButton-label {
    font-size: 16px;
    font-weight: 600;
}

.MuiGrid-root.makeStyles-grid-28.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-10 {
    justify-content: center;
}

svg {
    fill: #ff5244;
    text-shadow: 1px 3px 6px #ffafaf;
    font-size: 60px;
    margin: 0 20px;
}

/* Check Queue */
div#myQueueStatus {
    margin-left: 15px;
}

.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded{
    max-width: 100%;
    background-color: #fafafa;
    color: #fafafa;
}

button.MuiButton-outlinedPrimary {
        margin: 0 auto;
        color: #fafafa;
        background-color: rgba(198, 45, 34, 0.996);
    }

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary:hover {
    background: #ff5244;
    border: .5px solid #ff5244;
    box-shadow: 0 0 5px #ff5244;
}

/* ----------------- Divider Row */
.makeStyles-cardBody-29.QrcodePage-spinnerWrapper-15 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.QrcodePage-counterNum-22 {
    font-family: 'Work Sans', sans-serif;
}

div.makeStyles-cardBody-29.QrcodePage-spinnerWrapper-15 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.makeStyles-cardBody-32 {
    flex: 1 1 auto;
    padding: 20px 10px;
    position: relative;
    -webkit-box-flex: 1;
}

img#qrcodeImg {
    max-width: 150px;
    box-shadow: 2px 2px 4px 6px #24000330;
    margin-top: 20px;
}

h3.qr-code-counter {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

div#queueRow {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

div#formQrRow {
    display: flex;
    flex-direction: column;
}

div#queueRow button {
    width: 30%;
}

/* Bottom Row with Download Text */
div#bottomRowTxt {
    margin: 0 auto;
}

h4#infoMsgBtm {
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 1.25px;
    color: #fafafa;
}

/* Queue Summary */
.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded,
div#alert-dialog-description {
    color: #0a0a0a;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
}

/* Queue Info Dialog */
.queueDialogContent {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.MuiDialogContent-root {
    color: #0a0a0a;
    text-align: center;
    margin: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    div#formQrRow {
        display: flex;
        flex-direction: column;
    }
  
    #checkQueueButton {
        bottom: 30px;
    }

    img#qrcodeImg {
        max-width: 150px;
        margin-top: 40px;
    }

    h3.QrcodePage-divider-10 {
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
    }

    .MuiButton-label {
        font-size: 18px;
    }

    .QrcodePage-qrcodeCard-96 {
        padding: 0;
    }
    form.makeStyles-root-35 {
        margin-top: 20px;
    }
    div#myQueueStatus {
        margin-left: 30px;
    }
    img#obbaLogo {
        max-width: 60px;
        height: auto;
    }

    img#ollaaLogo {
        max-width: 60px;
        height: auto;
    }

    h3#headerInfo {
        font-size: 30px;
        font-weight: 800;
        font-family: 'Work Sans', sans-serif;
        margin-top: 20px;
        text-align: center;
    }

}

@media screen and (min-width: 768px) {
    h3.QrcodePage-divider-10 {
        font-size: 30px;
        margin: 20px auto;
    }
    #checkQueueButton {
        bottom: 10px;
    }

    div#formQrRow {
        display: flex;
        flex-direction: row;
    }

    img#qrcodeImg {
        max-width: 200px;
        margin-top: 30px;
        box-shadow: 2px 2px 4px 6px #24000330;
    }
    span.MuiButton-label {
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        letter-spacing: normal;
        text-align: left;
        text-transform: capitalize;
    }

    h3.qr-code-counter {
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }

    div#dividerRow {
        padding-top: 10px;
    }

    svg {
        fill: #ff5244;
        text-shadow: 1px 3px 6px #ffafaf;
    }

    h3#headerInfo {
        font-size: 25px;
        font-weight: 800;
        font-family: 'Work Sans', sans-serif;
        margin-top: 20px;
        text-align: center;
    }

}