h3.QrcodePage-divider-10 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.makeStyles-card-25 {
    width: 100%;
    border: 0;
    display: flex;
    position: relative;
    font-size: .875rem;
    min-width: 0;
    word-wrap: break-word;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    flex-direction: column;
    background-color: #5b090f7d;
}

span.QrcodePage-counterNum-422.QrcodePage-colorRed-419 {
    color: #e01c1c;
    font-weight: 800;
}

.QrcodePage-qrcodeCard-14 {
    padding: 30px;
    background: #260507c7;
}

#logoRow {
    padding-bottom: 10px;
    align-items: center;
  }

img#obbaLogo {
max-width: 80px;
height: auto;
}

img#ollaaLogo {
    max-width: 100px;
    height: auto;
}

.makeStyles-cardBody-29.QrcodePage-spinnerWrapper-15 {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.makeStyles-cardBody-29.QrcodePage-spinnerWrapper-15  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiButton-label {
    font-size: 1rem;
}

img#qrcodeImg {
    max-width: 250px;
    margin: 15px 0;
}

h3.QrcodePage-divider-10.QrcodePage-colorWhite-20 {
    font-size: 1.25rem;
    margin: 20px 0;
    font-weight: 400;
    color: #bebebe;
}

button.MuiButton-outlinedPrimary {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    border: 1px solid #e01c1c;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary:hover {
    background: #e01c1c;
    border: .5px solid #e01c1c;
}

div#queueRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#queueRow button {
    margin: 10px 20px;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    img#qrcodeImg {
        max-width: 150px;
    }

    h3.QrcodePage-divider-10 {
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;

    }

    .QrcodePage-qrcodeCard-14 {
        padding: 5px;
    }

    .MuiButton-label {
        font-size: 0.8rem;
    }

    .QrcodePage-qrcodeCard-96 {
        padding: 0;
    }

    img#obbaLogo {
        max-width: 60px;
        height: auto;
    }

    img#ollaaLogo {
        max-width: 60px;
        height: auto;
    }
}
