.react-tel-input .form-control {
    position: relative;
    font-size: 14px;
    letter-spacing: .01rem;
    background: #c82b2a;
    border: none;
    line-height: 30px;
    padding: 25px;
    font-size: 30px;
    color: #fafafa;
    margin-left: 20px;
    width: auto;
}

.react-tel-input .flag-dropdown.open {
    z-index: 2000;
    background: #fff;
    border-radius: 3px 0 0 0;
}

.react-tel-input .country-list {
    outline: none;
    z-index: 2000;
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 10px 0 10px -1px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.35);
    background-color: white;
    width: 300px;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 0 0 3px 3px;
    text-align: left;
    font-size: 14px;
}

.react-tel-input {
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    position: relative;
    width: 100%;
    margin: 10px auto;
    height: 50px;
}

.react-tel-input .country-list .country {
    color: #0a0a0a;
    font-weight: 600;
}