

.react-tel-input .form-control {
    position: relative;
    font-size: 14px;
    background: #c82b2a;
    line-height: 30px;
    padding: 26px;
    margin-left: 15px;
    font-size: 30px;
    color: #fafafa;
    width: 96%;
    border: 1px solid #c82b2a;
}

.react-tel-input .flag-dropdown.open {
    z-index: 2000;
}

.react-tel-input .country-list .country {
    color: #0a0a0a;
    font-weight: 600;
}

.react-tel-input input:focus {
    border: 5px solid #fafafa;
} 

.react-tel-input .flag-dropdown.open {
    z-index: 2000;
    background: #fff;
    border-radius: 3px 0 0 0;
}

.react-tel-input {
    font-family: 'Work Sans',sans-serif;
    font-size: 15px;
    position: relative;
    margin: 0px auto;
}

.react-tel-input .country-list .country {
    color: #0a0a0a;
    font-weight: 600;
}

.react-tel-input.form-control:focus,
input.form-control:focus,
input:focus {
    padding: 23px;
}

label {
    color: #ffb7a4;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}